.THIS .divbackgroundColor {background-color:t(backgroundColor);}
.THIS .greyborder {border:t(greyborder);}
.THIS .navyblue {background-color:t(navyblue);}
.THIS .lblTextColor {color:t(lblTextColor);}
.THIS .fontWeightBold {font-weight:t(fontWeightBold);}